.role-dialog-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.role {
  .role-row {
    &:hover {
      color: chocolate;
      background-color: #cccccc7d;
      cursor: pointer;
    }
  }
}